*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }

.profile-pic {
  background: whitesmoke;
  /*background-image: url('https://pixabay.com/static/uploads/photo/2016/03/26/13/09/organic-1280538_960_720.jpg');*/

}

.profile-pic {
  display: flex;
}

.description {
  font-size: 40px;
  height: 65px;
  margin: 0;
  position: absolute;
  top: 225px;
  padding-left: 0px;
}


.work {
  display: flex;
  /*justify-content: center;*/
  background: whitesmoke;
}

.yugen, .memory, .picky {
  height: 250px;
  width: 300px;
}

.laptop {
  position: relative;
  right: -326px;
  top: -231px;
  height: 527px;
}
