*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
  background: whitesmoke;
}

a { color: #00B7FF; }

.profile-pic {
  /*background-image: url('https://pixabay.com/static/uploads/photo/2016/03/26/13/09/organic-1280538_960_720.jpg');*/

}

.profile-pic {
  display: flex;
}

.description {
  font-size: 35px;
  /* height: 65px; */
  margin: 0;
  position: absolute;
  top: 470px;
  left: 160px;
}


.work {
  display: flex;
  /*justify-content: center;*/
  /*background: whitesmoke;*/
  /*background: gainsboro;*/
}

.yugen, .memory, .picky {
  height: 250px;
  width: 300px;
}

.laptop {
  position: relative;
  right: -328px;
  top: -231px;
  height: 527px;
}

.notebook {
  position: relative;
  right: 167px;
  height: 329px;
  top: 198px;
}

.description {
  animation: my_fade_animation 3s linear;
}

.laptop {
  animation: my_fade_animation 4s linear;
}

.notebook {
  animation: my_fade_animation 5s linear;
}
@keyframes my_fade_animation {
  from { opacity:0; }
  to { opacity:1; }
}

i {
  font-size: 100px;
  padding-right: 20px
}

.projects, .contact {
  font-family: 'Sintony', sans-serif;
  font-size: 100px;
  letter-spacing: -12px;
  margin: auto;
  padding: 30px;
}

.projects {
  border: 2px solid;
  margin-left: 0px;
}

.contact {
  /*float: right;*/
  margin-top: 30px;
}

.devicons {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
  border-top: 2px solid;
  /*border-bottom: 2px solid;*/
}

.fillWidth {
  width: 1340px !important;
}


/*NAVBAR*/

.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid;
}

.navs {
  display:table-cell;
}

#navs {
  color: black !important;
  text-decoration: none;
}

a.navs {
  color: black;
  padding-bottom: 10px
}


